.carousel-image {
    height:400px ;
}

footer.fixed-bottom{
    height: 60px;
    background-color: #E5E5E5;
    
}

.preview-items {
    display: flex;
    justify-content: space-around;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }

/*   .navbar{
    background-color: #1D497B;
    }*/

footer {
        padding: 12px;
        background-color: #E5E5E5;
        text-align: right;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
        font-size: 12px;
        color: #4A4A4A;
    }

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 36px;
}

.navbar {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
}

.main-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    align-content: right;
}
